extends layout

block content
main
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="lead_email" type="email" placeholder="Type in your Email Adress.")
    button(type="submit") Submit
  p This input will be saved in our database. I hope it works!